<% user = @conversation.recipients.select { |r| r.id != current_user.id }.first %>
<h2>Conversation with <%= user.name %></h2>

<% @conversation.messages.each do |message| %>
  <%= render partial: 'messages/message', locals: {message: message} %>
<% end %>

<%= render partial: 'messages/reply_form', locals: {conversation: @conversation} %>
