<div class="info clearfix hero-unit">
  <a href="http://rubyonrails.org/">
    <img alt="Rails" src="/assets/rails.png">
  </a>
  <div class="navlinks">
    <div class="profile-link hero-unit">
      <%= link_to @user.name, @user %>
    </div>
    <div class="navbar">
      <nav>
        <ul class="nav">
          <li><a href='#'>Wall</a></li>
          <li><%= link_to "Info", user_info_path(@user) %></li>
          <li><a href='#'>Friends</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
