<div class="work-place">
  <div class="work-place-name">
    <h6><%= work_place.name %></h6>
  </div>
  <div class="work-place-body">
    <p class="summary"><%= "#{work_place.position} from #{work_place.start_date} to #{work_place.end_date}" %></p>
    <p class="description"><%= work_place.description%></p>
  </div>
</div>
