<h2>
  <% if @name && @name.length > 0 %>
    Search Results for "<%= @name %>"
  <% else %>
    All Users
  <% end %>
</h2>

<% if @users.length > 0  %>
  <%= render @users %>
<% else %>
  No users found
<% end %>
