<%= render partial: 'nav' %>

<div class="profile-groups">
  <%= render partial: 'profiles/basic_info' %>
  <%= render partial: 'work_places/employment_history', locals: {
        work_places: @user.profile.work_places,
        profile: @user.profile
      } %>
  <%= render partial: 'profiles/favorite_quotes' %>
</div>
