@import "bootstrap";

.thumb {
  width: 50px;
  height: 50px;
}

div.navbar > nav > ul.nav {
  padding: 10px 0;
  > li > a {
    display: inline;
  }
} 

.friend-request > th {
  padding: 10px;
}

img.medium {
  width: 210px;
  height: 210px;
}

.comment .thumb {
  width: 40px;
  height: 40px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

div.profile-panel {
  padding-bottom: 0;
  div.navbar {
    background: blue;
  }
}

div.wall {
  #new_post {
    textarea {
      width: 526px;
    }
  }
}

.posts {
  margin: 50px auto;
  .post {
    width: 500px;
    header {
      border-bottom: 2px solid #ddd;
      div {
        float: left;
      }
      div.info {
        padding: 0 0 0 10px;
        h6 {
          margin: 0 auto;
        }
      }
    }
  }
  .comments {
    margin-left: 50px;
    .comment {
      padding: 5px;
      margin-bottom: 0;
      background: #eee;
      header {
        height: 40px;
      }
    }
  }
  form {
    margin-left: 50px;
    textarea {
      width: 436px;
    }
  }
}

table.basic-info {
  th.info-label {
    text-align: left;
    padding-right: 10px;
  }
}

section.work-places {
  article.work-place {
    padding: 10px 0;
  }
}

article.user {
  > section {
    float: left;
    margin: 5px 20px;
  }

  > .info > .friend-count a {
    color: #888;
  }
}